*.doc
*.exe
*.ilk
*.obj
*.pdb
*.ssh
.vs/
.vscode/
calc.cpp
int64.cpp
main.cpp
shablon.cpp
stroke2.cpp
task about task.cpp
taskabouttask.cpp
TFIDF.cpp
test.cpp
buses.cpp
test (2).cpp
test1.cpp
Untitled-1.cpp
src/test3.cpp
tests/test3.cpp
CMakeLists.txt
CMakeLists.txt.bak
